{
    NSIcon = "Trash.tiff";
    NSRole = "NSNone";
    ApplicationDescription = "Trash";
    ApplicationDescription = "Workspace Manager";
    ApplicationIcon = "Trash.tiff";
    ApplicationName = "Trash";
    ApplicationRelease = "1.1.0";
    NSBuildVersion = "02 2025";
    CFBundleIdentifier = "org.gnustep.GWorkspace.Trash";
    Authors = (
      "Riccardo Mottola",
      "Enrico Sersale"
    );
    Copyright = "Copyright (C) 2004-2021 Free Software Foundation, Inc.";
    CopyrightDescription = "Released under the GNU General Public License 2.0 or later";
}
